<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <uris>
        <uri>xcc://q:q@localhost:8000</uri>
        <uri>xcc://q:q@0.0.0.0:8000</uri>
        <uri>xcc://q:q@127.0.0.1:8000</uri>
    </uris>
    <durationInMinutes>1</durationInMinutes>
    <testLabel>12345</testLabel>
</configuration>