<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <uris>
        <uri>xcc://q:q@localhost:8000</uri>
    </uris>
    <durationInMinutes>5</durationInMinutes>
    <testLabel>v0.3</testLabel>
    <jobs>
        <job>
            <classname>MarkLogicAdminRequest</classname>
            <endpoint>http://localhost:8001</endpoint>
            <interval>EVERY_SECOND</interval>
        </job>
        <job>
            <classname>RestEndpointRequest</classname>
            <endpoint>http://localhost:8002/manage/v2/forests/</endpoint>
            <interval>EVERY_SECOND</interval>
        </job>
    </jobs>
</configuration>